/* ======= LAYOUT ======= */

#search-result {
    background: #F8F8F8;
    padding: 60px 0 30px 0;
}

/* ======= TEXT ======= */

p.person-card-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32px;
    color: #004A80;
    letter-spacing: 0;
}

p.phone {
    color: var(--main-color);
}


/* ==== PERSON CARD ==== */

#person-card {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    border-radius: 30px;
    padding: 40px;
    display: flex;
    flex-direction: row;
}

